.t-reg
	font-weight: 400
	font-size: 40px
	text-transform: uppercase
	color: $WHITE_COLOR

.t-light
	font-weight: 300
	font-size: 20px
	color: $WHITE_COLOR

@media (max-width: 1600px)
	.t-reg
		font-size: 35px

@media (max-width: 1440px)
	.t-reg
		font-size: 31px

@media (max-width: 1280px)
	.t-reg
		font-size: 28px
	.t-light
		font-size: 18px

@media (max-width: 1024px)

@media (max-width: 920px)
	.t-reg
		font-size: 40px

@media (max-width: 820px)
	.t-reg
		font-size: 40px

@media (max-width: 768px)
	.t-reg
		font-size: 40px
	.t-light
		font-size: 20px

@media (max-width: 576px)
	.t-reg
		font-size: 30px

@media (max-width: 428px)
	.t-reg
		font-size: 26px

@media (max-width: 376px)
	.t-reg
		font-size: 24px
	.t-light
		font-size: 16px

@media (max-width: 350px)
	.t-reg
		font-size: 22px
	.t-light
		font-size: 14px

@media (max-width: 920px) and (orientation: landscape)
	.t-reg
		font-size: 18px
	.t-light
		font-size: 14px
